# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
Dockerfile.db
docker-compose.yml
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
dist/
build/
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 